/*--Div Style--*/
#hotlink{
	position: absolute;
	width: 240px;
	right:0;
	padding-top:20px;
}

#datainfo{
	padding-right: 185px;
}

/*--Column Styles--*/
ul.columns {
	width: 180px;
	list-style: none;
	margin: 0 auto; padding: 0;
}
ul.columns li {
	width: 60px;
	float: right; 
	display: inline;
	margin: 10px; padding: 0;
	position: relative;
}
ul.columns li:hover {z-index: 99;}

/*--Thumbnail Styles--*/
ul.columns li img {
	border: 1px solid black;
	position: relative;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /*--IE8 Specific--*/
}
ul.columns li:hover img{
	z-index: 999;
	filter: alpha(opacity=100);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*--Details Style--*/
ul.columns li .info {
	position: absolute;
	right: -10px; 
	top: -10px;
	bottom: 10px;
	padding: 13px 60px 10px 10px;
	width: 140px;
	height: 60px;
	display: none;
	background: #ccc;
	font-size: 1.2em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.columns li:hover .info {display: block;}

ul.columns li h2 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul.columns li p {padding: 0; margin: 0; font-size: 0.9em;}